In [1]:
%matplotlib inline
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import matplotlib.lines as mlines

filepath = os.path.join('resources', 'Indicator_df.csv')
Indicator_df = pd.read_csv(filepath, header=0)

filepath = os.path.join('resources','HDI_df.csv')
HDI_df = pd.read_csv(filepath)

In [3]:
Indicator_df = Indicator_df.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'])
Indicator_df = Indicator_df.rename(columns={"variable": "Year"})
Indicator_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,value
0,Arab World,ARB,"Population, total",SP.POP.TOTL,variable,1960
1,Caribbean small states,CSS,"Population, total",SP.POP.TOTL,variable,1960
2,Central Europe and the Baltics,CEB,"Population, total",SP.POP.TOTL,variable,1960
3,Early-demographic dividend,EAR,"Population, total",SP.POP.TOTL,variable,1960
4,East Asia & Pacific,EAS,"Population, total",SP.POP.TOTL,variable,1960

In [4]:
hdi_df = HDI_df.melt(id_vars=['Country'])
hdi_df.head()

       Country variable  value
0  Afghanistan     1990  0.298
1      Albania     1990  0.644
2      Algeria     1990  0.578
3      Andorra     1990     ..
4       Angola     1990     ..

In [5]:
merged_df = pd.merge(Indicator_df, hdi_df, left_on = ['Country Name', 'Year'], right_on=['Country', 'variable'])
new_df = merged_df.drop(['Country', 'variable'], axis=1)
new_df = new_df.rename(columns={"value_x": "Value", "value_y": "HDI"})
new_df.head()

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, Year, Value, HDI]
Index: []

In [48]:
new_df.to_csv('new_df.csv', header = True)